.moroo-body {
    background-color:#333;
    color:#fff;
}
.moroo-container {
    color:#333;
}
.moroo-navbar-toggle {
    float: left;
    margin-right: 0px;
    margin-left: 15px;
}

@media (max-width: 767px) {
    .moroo-navbar-brand {
        margin: 0 auto;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
  }
}
.moroo-navbar-brand {
    margin-left: 0px !important;
}
.moroo-main {
    position: relative;
    height: 200px;
}
.moroo-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.moroo-width-center {
    margin: 0 auto;
}
.moroo-padding-0 {
    padding: 0px;
    text-align: center;
}
.moroo-padding-5 {
    padding: 5px;
    text-align: center;
}
.moroo-margin-0 {
    margin: 0px;
}
.moroo-text-center {
    text-align: center;
}
.moroo-margin-top-10 {
    margin-top: 10px !important;
}
.moroo-app-content {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 340px;
}
.moroo-footer {
    text-align: right;
}