@{
    ViewBag.Title = "| Host Manager";
}

<div class="moroo-main">
    <h3 class="moroo-width-center">
        Host Manager (Ver 1.0.0)
    </h3>
    <div class="moroo-center">
        <button class="btn btn-primary">
            다운로드
        </button>
    </div>
</div>