@{
    ViewBag.Title = "| Host Manager";
}
@model string

<div class="moroo-main">
    <div class="moroo-app-content">
        @*<div class="row">
            <div class="col-md-6 moroo-padding-0">
                <h3 class="moroo-margin-0">
                    Host Manager
                </h3>
            </div>
            <div class="col-md-6 moroo-padding-0">
                <h3 class="moroo-margin-0">
                    (@ViewBag.Message)
                </h3>
            </div>
        </div>*@
        <ul class="moroo-text-center moroo-ul-none">
            <li>
                <h3 class="moroo-margin-0">
                    Host Manager
                </h3>
            </li>
            <li>
                <h3 class="moroo-margin-0">
                    (@ViewBag.Message)
                </h3>
            </li>
        </ul>
        <p class="moroo-margin-top-10 moroo-text-center">
            <a class="btn btn-primary" href="http://www.moroosoft.com/Files/HostManager/HostManager.exe">다운로드</a>
        </p>
    </div>
</div>