@{
    ViewBag.Title = "| Host Manager";
}

<div class="moroo-main">
    <div class="moroo-width-center">
        <div class="row moroo-margin-top-30">
            <div class="col-md-6 moroo-padding-0 moroo-text-center">
                <h3 class="moroo-margin-0">
                    Host Manager
                </h3>
            </div>
            <div class="col-md-6 moroo-padding-0 moroo-text-center">
                <h3 class="moroo-margin-0">
                    (@ViewBag.Message)
                </h3>
            </div>
        </div>
        <div class="moroo-width-center moroo-margin-top-30">
            <a class="btn btn-primary" href="http://www.moroosoft.com/files/hostmanager/64bit/hostmanager.exe">다운로드</a>
        </div>
    </div>
</div>